name: CI

on:
  push:
    branches: [master]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      COMPARE: 1
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Clone agbcc
        uses: actions/checkout@master
        with:
          repository: 'pret/agbcc'
          path: 'agbcc'

      - name: Install binutils
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-none-eabi binutils-arm-none-eabi xdelta3 libpng-dev

      - name: Install agbcc
        working-directory: 'agbcc'
        run: |
          sh build.sh
          sh install.sh ..

      - name: Make baserom.gba
        run: |
          dd if=/dev/zero of=zero.gba bs=16777216 count=1
          xdelta3 -d -s zero.gba baserom.xdelta baserom.gba

      - name: Build pokepinballrs
        run: make -j$(nproc)\

      - name: Webhook
        if: ${{ github.event_name == 'push' && github.repository_owner == 'pret' }}
        env:
          CALCROM_DISCORD_WEBHOOK_USERNAME: OK
          CALCROM_DISCORD_WEBHOOK_AVATAR_URL: https://i.imgur.com/38BQHdd.png
          CALCROM_DISCORD_WEBHOOK_URL: ${{ secrets.CALCROM_DISCORD_WEBHOOK_URL }}
        run: sh .github/calcrom/webhook.sh pokepinballrs
